@page
@model e_book_pvt.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.Items)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Items)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderDetail?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
